<% content_for :title, "Workshops | Queer Tango Club" %>

<section>
  <div class="container">
    <h2>Workshops</h2>
  </div>
  <% @workshops.each do |event| %>
    <div class="event">
      <% event.guests.each do |guest| %>
        <div class="poster"><img src="<%= guest.image_url %>" alt="<%= event.title %>"/></div>
      <% end %>
      <div class="container">
        <%= link_to event_path(event) do %>
          <h3 class="photo-overlay"><%= event.title %></h3>
        <% end %>
        <h4 class="photo-overlay">
          <%= event.starts_at %><br>
          <%= event.location.name %>
        </h4>
        <button class="dark photo-overlay">
          Purchase Tickets
        </button>
      </div>
    </div>
  <% end %>
</section>
