<% content_for :title, "Workshops | Queer Tango Club" %>

<section>
  <div class="grid-frame">
    <h2>Workshops</h2>
    <hr class="thick">
  </div>
  <% @workshops.each do |event| %>
    <div class="event">
      <div class="cover-photo">
        <img src="<%= event.cover_photo.url(:original) %>" alt="<%= event.title %>"/>
      </div>
      <div class="grid-frame no-padding">
        <div class="align-bottom align-right">
          <%= link_to event_path(event) do %>
            <h3 class="photo-overlay"><%= event.title %></h3>
          <% end %>
          <div>
            <h6 class="photo-overlay">
              <%= format_date_range(event.starts_at, event.ends_at) %><br>
              <% if event.location %><%= event.location.name %><% end %>
            </h6>
          </div>
          <% if event.registerable? %>
            <div>
              <%= link_to choose_event_path(event), class: 'photo-overlay button with-icon' do %>
                <%= icon("ticket") %> Sign Up
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>
