<% content_for :title, "Queer Tango Club" %>
<% content_for :facebook do %>
  <meta property="og:title" content="Queer Tango Club" />
  <meta property="og:image" content="<%= image_url(@hero_src) %>" />
  <meta property="og:site_name" content="Queer Tango Club" />
<% end %>

<header>
  <div class="grid-frame">
    <div class="row align-right justify-end">
      <nav>
        <%= link_to('About', about_path) %>
        <%= link_to('Events', milongas_path) %>
        <%= link_to('Workshops', workshops_path) %>
      </nav>
    </div>
  </div>
</header>
<main>
  <div class="grid-frame no-padding">
    <div class="row">
      <h1 class="logo">
        <span class="q">Queer</span>
        <span class="t">Tango</span>
        <span class="c">Club</span>
      </h1>
    </div>
    <div class="row align-right justify-end">
      <section id="upcoming-events">
        <h6 class="dark photo-overlay">Upcoming Events</h6><br>
        <% @upcoming.each do |event| %>
          <%= link_to(event.title, event_path(event), class: 'photo-link') %><br>
        <% end %>
      </section>
    </div>
  </div>
</main>
<%= render partial: 'footer' %>
<div class="hero-image">
  <%= image_tag(@hero_src, alt: 'Queer Tango Club') %>
</div>
