<% content_for :title, "Queer Tango Club" %>
<% content_for :facebook do %>
  <meta property="og:title" content="Queer Tango Club" />
  <meta property="og:image" content="<%= image_url(@hero_src) %>" />
  <meta property="og:site_name" content="Queer Tango Club" />
<% end %>

<header>
  <div class="frame">
    <div class="flex-row collapse-none">
      <div></div>
      <nav>
        <%= link_to('About', about_path) %>
        <%= link_to('Events', events_path) %>
      </nav>
    </div>
  </div>
</header>
<main>
  <div class="frame padding-none">
    <div class="flex-row">
      <h1 class="logo">
        <span class="q">Queer</span>
        <span class="t">Tango</span>
        <span class="c">Club</span>
      </h1>
    </div>
    <figcaption>
      <section id="upcoming-events">
        <h6 class="dark photo-overlay">Upcoming Events</h6><br>
        <% @upcoming.each do |event| %>
          <% event.cover_photos.each do |cover| %>
            <%= link_to(cover.full_title, event_path(event), class: 'photo-link') %><br>
          <% end %>
        <% end %>
      </section>
    </figcaption>
  </div>
</main>
<%= render partial: 'footer' %>
<div class="hero-image">
  <%= image_tag(@hero_image.src, alt: 'Queer Tango Club', width: @hero_image.width, height: @hero_image.height) %>
</div>
