<header>
  <nav>
    <%= link_to('About', about_path) %>
    <%= link_to('Events', events_path) %>
    <%= mail_to('nyqtangoclub@gmail.com', 'Contact') %>
  </nav>
  <h1>
    <span class="q">Queer</span>
    <span class="t">Tango</span>
    <span class="c">Club</span>
  </h1>
</header>
<main>
</main>
<footer>
  <a href="https://facebook.com/nycqueertangoclub" target="_blank">
    <%= inline_svg("facebook") %> nycqueertangoclub
  </a>
</footer>
<div class="hero-image">
  <%= image_tag("IMG_3044.jpg") %>
</div>
