<header>
  <div class="container">
    <nav>
      <%= link_to('About', about_path) %>
      <%= link_to('Events', milongas_path) %>
      <%= link_to('Workshops', workshops_path) %>
    </nav>
  </div>
  <h1>
    <span class="q">Queer</span>
    <span class="t">Tango</span>
    <span class="c">Club</span>
  </h1>
</header>
<main>
  <div class="container">
    <h4 class="dark photo-overlay">Upcoming Events</h4><br>
    <% Event.all.each do |event| %>
      <%= link_to event_path(event) do %>
        <h3 class="photo-overlay"><%= event.title %></h3>
      <% end %>
    <% end %>
  </div>
</main>
<%= render partial: 'footer' %>
<div class="hero-image">
  <%= image_tag("IMG_4024.jpg") %>
</div>
