<% content_for :title, "Checkout | Queer Tango Club" %>
<section class="frame banner">
  <h1><%= @event.title %></h1>
  <%= format_date_range(@event.starts_at, @event.ends_at) %><br>
  <% if @event.location %>
    <%= format_location_name(@event.location.name) %>
  <% end %>
</section>

<%= form_tag purchase_event_path(@event), method: :post, class: "frame" do |f| %>
  <section id="information">
    <h2>Your Information</h2>
    <hr class="thick">
    <% unless flash.empty? %>
      <ul class="alert">
        <% flash.each do |key, value| %>
          <li class="alert-<%= key %>"><%= value %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="flex-row half">
      <div>
        <%= label_tag :name, 'Name *' %>
        <%= text_field_tag :name, nil, class: 'whole' %>
      </div>
      <div></div>
    </div>
    <div class="flex-row half">
      <div>
        <%= label_tag :email, 'Email *' %>
        <%= email_field_tag :email, nil, class: 'whole' %>
      </div>
      <div></div>
    </div>
  </section>
  <section id="payment">
    <h2>Payment</h2>
    <hr class="thick">
    <div class="payment-errors"></div>
    <div class="flex-row half">
      <% if current_user %>
        <div class="tab-bar">
          <br>
          <div class="flex-row">
            <label class="radio"><input type="radio" name="payment_method" value="card" checked="checked" /> <span>Card</span></label>
          </div>
          <div class="row">
            <label class="radio"><input type="radio" name="payment_method" value="cash" /> <span>Cash</span></label>
          </div>
          <div class="row">
            <label class="radio"><input type="radio" name="payment_method" value="gratis" /> <span>Gratis</span></label>
          </div>
        </div>
      <% end %>
      <div class="tab" id="card">
        <div class="flex-row half">
          <div>
            <label for="cardholder_name">Name on Card *</label>
            <input type="text" id="cardholder_name" class="whole" />
          </div>
        </div>
        <div class="flex-row half">
          <div>
            <label for="card_number">Card Number *</label>
            <div class="flex-row">
              <input type="tel" id="card_number" class="fill" />
              <%= icon('other', class: 'credit-card pad') %>
            </div>
          </div>
        </div>
        <div class="flex-row">
          <div>
            <div class="flex-row half">
              <div>
                <label for="card_expiration">Expiration *</label>
                <input type="tel" id="card_expiration" placeholder="MM / YY" />
              </div>
              <div>
                <label for="card_cvc">CVC *</label>
                <input type="tel" id="card_cvc" />
              </div>
            </div>
          </div>
          <%= icon('cvv', class: 'credit-card cvc') %>
        </div>
      </div>
      <% if current_user %>
        <div class="half tab" id="cash">
          <div class="row">
            <%= label_tag :payment_amount, 'Amount Received *' %>
            <%= text_field_tag :payment_amount, @payment_amount.format, class: 'whole' %>
          </div>
        </div>
        <div class="half tab" id="gratis">
          <div class="col align-center">
            <div>
              <%= icon("happy", class: "big margin-20") %>
            </div>
            <p>Super! They'll be on the list.</p>
          </div>
        </div>
      <% end %>
      <% unless current_user %>
        <div></div>
      <% end %>
    </div>
    <br>
    <button class="with-icon"><%= icon("purchase") %> Process Payment</button>
  </section>
<% end %>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey("<%= ENV['STRIPE_KEY'] %>");
</script>
<%= inline_svg("credit-cards.svg", class: 'sprite') %>
