<% content_for :title, "#{@event.title} | Queer Tango Club" %>
<section class="grid-frame banner">
  <h1><%= @event.title %></h1>
  <%= format_date_range(@event.starts_at, @event.ends_at) %><br>
  <% if @event.location %>
    <%= format_location_name(@event.location.name) %>
  <% end %>
</section>

<%= form_tag add_to_cart_event_path(@event), method: :post, class: "grid-frame" do |f| %>
  <section id="schedule">
    <h2>Choose Your <%= @event.type.titleize.pluralize %></h2>
    <hr class="thick">

    <% unless flash.empty? %>
      <ul class="alert">
        <% flash.each do |key, value| %>
          <li class="alert-<%= key %>"><%= value %></li>
        <% end %>
      </ul>
    <% end %>
    <% @sessions_by_day.each_with_index do |sessions, idx| %>
      <h4 class="accordion <% if @smart_collapse %><%= "collapsed" unless sessions.any?(&:highlight?) %><% end %>" data-accordion="accordion-<%= idx %>">
        <%= sessions.first.starts_at.strftime("%B %e, %Y") %><%= icon("down") %>
      </h4>
      <hr>
      <ul class="sessions" id="accordion-<%= idx %>">
        <% sessions.each do |session| %>
          <li class="session">
            <span class="row">
              <span class="static-80 align-center">
                <input type="checkbox" name="sessions[<%= session.id %>]" id="session-<%= session.id %>" <% if @cart.include?(session.id.to_s) %>checked="checked"<% end %> data-amount="<%= session.ticket_cost %>" data-starts-at="<%= session.starts_at.to_i %>" data-ends-at="<%= session.ends_at.to_i %>">
              </span>
              <label for="session-<%= session.id %>">
                <h3><%= session.title.html_safe %></h3>
                <% if session.event.guests.size > 1 && session.guests.size > 0 %>
                  <% session.guests_by_role.each do |guests| %>
                    <h6>
                      <%= format_list(guests) { |guest| guest.name } %>,
                      <%= guests.first.role.pluralize(guests.count) %>
                    </h6>
                  <% end %>
                <% end %>
                <% if session.level %>
                  <h6>For <%= session.level %> Dancers</h6>
                <% end %>
                <h6><%= format_time_range(session.starts_at, session.ends_at) %></h6>
                <% if session.description %>
                  <%= simple_format session.description %>
                <% end %>
              </label>
            </span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </section>
  <hr class="thick">
  <section id="itemizations">
    <dl class="row">
      <dt><h6>Subtotal</h6></dt>
      <dd><h6 id="subtotal">$0</h6></dd>
      <dt><h6>Discounts</h6></dt>
      <dd><h6 id="discounts">$0</h6></dd>
      <div class="whole">
        <hr>
      </div>
      <dt><h5>Total</h5></dt>
      <dd><h6 id="total">$0</h6></dd>
    </dl>
    <button class="with-icon"><%= icon("cart") %> Checkout</button>
  </section>
<% end %>
