<% content_for :title, "#{@event.title} | Queer Tango Club" %>
<br>

<%= form_for(@event) do |f| %>
<section id="edit">
  <div class="frame">
    <header>
      <h2>
        <%= link_to(@event.title, event_path(@event)) %> <%= icon("right-chevron") %> Edit
      </h2>
      <%= f.submit "Save" %>
    </header>
    <hr class="thick">
    <% if flash[:error] %>
      <ul class="alert">
        <% flash[:error].each do |message| %>
          <li><%= icon('alert-solid') %> <%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="flex-row half">
      <div>
        <div class="flex-column">
          <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
          </div>
          <div class="flex-row half">
            <div>
              <%= f.label :starts_at %>
              <%= f.date_field :starts_at %>
            </div>
            <div>
              <%= f.label :ends_at %>
              <%= f.date_field :ends_at %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="flex-column">
          <div>
            <%= f.label :description %>
            <%= f.text_area :description, rows: 6 %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="frame">
    <header>
      <h6 class="block align-bottom">Cover Photos</h6>
      <%= f.fields_for :cover_photos do |cpf| %>
        <% unless cpf.object.attachment.present? %>
          <label>
            <%= cpf.file_field :attachment, multiple: false %>
            <a><%= icon("add-solid") %> Add Cover Photo</a>
          </label>
        <% end %>
      <% end %>
    </header>
    <hr>
  </div>
  <%= f.fields_for :cover_photos do |cpf| %>
    <% if cpf.object.attachment.present? %>
      <%= cpf.hidden_field '_destroy' %>
      <figure class="event">
        <div class="cover-photo">
          <img src="<%= cpf.object.attachment.url(:original) %>" alt="<%= cpf.object.title %>"/>
        </div>
        <div class="frame padding-none">
          <figcaption>
            <div class="photo-overlay">
              <%= cpf.text_field :title %>
            </div>
            <label class="remove">
              <a data-id="<%= cpf.object_name.gsub(/[\[\]]+/, '_').chop %>__destroy"><%= icon("cancel-solid") %> Delete Cover Photo</a>
            </label>
          </figcaption>
        </div>
      </figure>
    <% else %>
      <figure class="event preview" style="display: none">
        <div class="cover-photo"></div>
      </figure>
    <% end %>
  <% end %>

  <div class="frame">
    <header>
      <h6>Sessions</h6>
      <a class="add-session"><%= icon("add-solid") %> Add Session</a>
    </header>
    <hr>
    <%= f.fields_for :sessions, html: { class: 'flex-column' } do |sf| %>
      <div class="session-form" style="<% if sf.object.id.nil? %>display: none<% end %>">
        <div class="flex-row half">
          <div>
            <div class="flex-column">
              <div>
                <%= sf.label :title %>
                <%= sf.text_field :title %>
              </div>
              <div class="flex-row half">
                <div>
                  <%= sf.label :starts_at %>
                  <%= sf.datetime_local_field :starts_at %>
                </div>
                <div>
                  <%= sf.label :ends_at %>
                  <%= sf.datetime_local_field :ends_at %>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="flex-column">
              <div>
                <%= sf.label :description %>
                <%= sf.text_area :description, rows: 6 %>
              </div>
            </div>
          </div>
        </div>
        <div>
          <%= sf.label :location_id %>
          <%= sf.collection_select(:location_id, Location.all, :id, :name, { prompt: 'Select a Location...' }, autocomplete: 'off') %>
        </div>
        <div class="flex-row half">
          <div>
            <label class="checkbox accordion <%= 'collapsed' unless sf.object.ticket_cost? %>" data-accordion="<%= sf.object_name.gsub(/[\[\]]+/, '_').chop %>">
              <%= sf.check_box :ticket_cost? %> Online Sales
            </label>
          </div>
          <div id="<%= sf.object_name.gsub(/[\[\]]+/, '_').chop %>">
            <div class="flex-column">
              <div>
                <%= sf.label :display_cost, 'Ticket cost' %>
                <%= sf.text_field :display_cost %>
              </div>
            </div>
          </div>
        </div>
        <%= sf.fields_for :guests do |gf| %>
          <div class="flex-row half">
            <div>
              <div class="flex-column">
                <div>
                  <%= gf.label :teacher_id %>
                  <%= gf.collection_select(:teacher_id, Teacher.all, :id, :name, { prompt: 'Select a Teacher...' }, autocomplete: 'off') %>
                </div>
                <div>
                  <%= gf.label :role, 'Role' %>
                  <%= gf.text_field :role %>
                </div>
              </div>
            </div>
            <div class="teacher-form">
              <%= gf.fields_for :teacher do |tf| %>
                <div class="flex-column">
                  <div>
                    <%= tf.label :name %>
                    <%= tf.text_field :name %>
                  </div>
                  <div>
                    <%= tf.label :url %>
                    <%= tf.url_field :url %>
                  </div>
                  <div>
                    <%= tf.label :bio, 'Biography' %>
                    <%= tf.text_area :bio, rows: 5 %>
                  </div>
                  <%= tf.fields_for :photos do |pf| %>
                    <% if pf.object.attachment.present? %>
                      <img src="<%= pf.object.attachment.url(:original) %>" alt="<%= tf.object.name %>"/>
                    <% else %>
                      <label>
                        <%= pf.file_field :attachment, multiple: false %>
                        <a><%= icon("add-solid") %> Add Photo</a>
                      </label>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <br>
        <br>
        <hr>
        <br>
      </div>
    <% end %>
  </div>
</section>
<% end %>
