<% content_for :title, "Edit #{@event.title} | Queer Tango Club" %>

<div class="container">
  <h2>Edit</h2>
  <%= form_for(@event, url: event_path(@event)) do |f| %>
    <fieldset>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </fieldset>
    <fieldset>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </fieldset>

    <fieldset>
      <%= f.label :location %>
      <%= f.select :location_id, options_from_collection_for_select(Location.all, 'id', 'name', @event.location) %>
    </fieldset>

    <h2 class="light">Schedule</h2>
    <%= fields_for(:sessions) do |s| %>
      <fieldset>
        <%= s.label :title %>
        <%= s.text_field :title %>
      </fieldset>
      <fieldset>
        <%= s.label :description %>
        <%= s.text_area :description %>
      </fieldset>
      <fieldset>
        <%= s.label :starts_at %>
        <%= s.datetime_field :starts_at %>
      </fieldset>
      <fieldset>
        <%= s.label :ends_at %>
        <%= s.datetime_field :ends_at %>
      </fieldset>
    <% end %>
  <% end %>
</div>
