<% content_for :title, "#{@event.title} | Queer Tango Club" %>
<br>

<section id="edit">
  <div class="frame">
    <header>
      <h2>
        <%= link_to(@event.title, event_path(@event)) %> <%= icon("right") %> Edit
      </h2>
      <button>Save</button>
    </header>
    <hr class="thick">
    <%= form_for(@event, html: { class: 'flex-row half' }) do |f| %>
      <div>
        <div class="flex-column">
          <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
          </div>
          <div class="flex-row half">
            <div>
              <%= f.label :starts_at %>
              <%= f.date_field :starts_at %>
            </div>
            <div>
              <%= f.label :ends_at %>
              <%= f.date_field :ends_at %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="flex-column">
          <div>
            <%= f.label :description %>
            <%= f.text_area :description, rows: 6 %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <br>

  <div class="frame">
    <header>
      <h6 class="block align-bottom">Cover Photos</h6>
      <a><%= icon("add-solid") %> Add Cover Photo</a>
    </header>
    <hr>
  </div>
  <% @event.cover_photos.each do |cover_photo| %>
    <figure class="event">
      <div class="cover-photo">
        <img src="<%= cover_photo.attachment.url(:original) %>" alt="<%= cover_photo.title %>"/>
      </div>
      <div class="frame padding-none">
        <figcaption>
          <%= form_for(cover_photo, html: { class: 'photo-overlay' }) do |fc| %>
            <%= fc.text_field :title %>
          <% end %>
        </figcaption>
      </div>
    </figure>
  <% end %>

  <div class="frame">
    <header>
      <h6>Sessions</h6>
      <a><%= icon("add-solid") %> Add Session</a>
    </header>
    <hr>
    <% @event.sessions.each do |session| %>
      <%= form_for(session, namespace: "session_#{session.id}", html: { class: 'flex-column' }) do |f| %>
        <div>
          <div class="flex-row half">
            <div>
              <div class="flex-column">
                <div>
                  <%= f.label :title %>
                  <%= f.text_field :title %>
                </div>
                <div class="flex-row half">
                  <div>
                    <%= f.label :starts_at %>
                    <%= f.datetime_local_field :starts_at %>
                  </div>
                  <div>
                    <%= f.label :ends_at %>
                    <%= f.datetime_local_field :ends_at %>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="flex-column">
                <div>
                  <%= f.label :description %>
                  <%= f.text_area :description, rows: 6 %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <%= f.label :location_id %>
          <%= f.collection_select(:location_id, Location.all, :id, :name, { prompt: 'Select a Location...' }, autocomplete: 'off') %>
        </div>
      <% end %>
      <br>
      <br>
      <hr>
      <br>
    <% end %>
  </div>
</section>
