<% content_for :title, "Events | Queer Tango Club" %>

<section>
  <% if current_user %>
    <div class="frame">
      <h2>Drafted Events</h2>
      <hr class="thick">
      <br>
    </div>
    <div class='frame'>
      <%= link_to(new_event_path, class: 'new-event') do %>
        <%= icon("add-solid") %> Add Event
      <% end %>
    </div>
    <% @events.draft.each do |event| %>
    <% if event.cover_photos.length > 0 %>
        <%= render partial: 'cover_photo', locals: { event: event } %>
      <% else %>
        <%= link_to(event.title, edit_event_path(event), class: 'new-event') %>
      <% end %>
    <% end %>
  <% end %>

  <% if @events.upcoming.count > 0 %>
    <div class="frame">
      <h2>Events</h2>
      <hr class="thick">
      <br>
    </div>
    <% @events.upcoming.each do |event| %>
      <%= render partial: 'cover_photo', locals: { event: event } %>
    <% end %>
  <% end %>

  <div class="frame">
    <h2>Past Events</h2>
    <hr class="thick">
    <br>
  </div>
  <% @events.historical.each do |event| %>
    <%= render partial: 'cover_photo', locals: { event: event } %>
  <% end %>
</section>
