<% content_for :title, "#{@event.title} | Queer Tango Club" %>
<br>
<div class="grid-frame">
  <section id="schedule">
    <h2><%= link_to(@event.title, event_path(@event)) %> <%= icon("right") %> Sign Ups</h2>
    <hr class="thick">
    <% @event.sessions.order(starts_at: :asc).each do |session| %>
      <% if session.ticket_cost %>
        <h4 class="accordion" data-accordion="accordion-<%= session.id %>">
          <%= session.title.html_safe %><%= icon("down") %>
        </h4>
        <hr>
        <div class="members" id="accordion-<%= session.id %>">
          <% if session.attendees.count > 0 %>
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Paid</th>
                </tr>
              </thead>
              <tbody>
                <% session.attendees.order(:created_at).each do |attendee| %>
                  <tr>
                    <td>
                      <a href="#" tabindex="0" class="toggle-attended" data-id="<%= attendee.id %>" data-attended="<%= attendee.attended? %>">
                        <% if attendee.attended? %>
                          <%= icon('check-solid') %>
                        <% else %>
                          <%= icon('check') %>
                        <% end %>
                      </a>
                    </td>
                    <td><%= attendee.name %></td>
                    <td><%= attendee.email %></td>
                    <td>
                      <% if attendee.payment_method == 'cash' %>
                        Cash
                      <% elsif attendee.payment_method == 'stripe' %>
                        <a href="<%= attendee.payment_url %>">Online</a>
                      <% elsif attendee.payment_method == 'square' %>
                        <a href="<%= attendee.payment_url %>">Card</a>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <br>
            <div class="smcp align-center"><%= icon('sad', class: 'empty-state') %></div>
          <% end %>
        </div>
       <% end %>
    <% end %>
  </section>
  <br>
  <br>
</div>
