<% content_for :title, "#{@event.title} | Queer Tango Club" %>
<section class="grid-frame banner">
  <h2><%= link_to(@event.title, event_path(@event)) %> <%= icon("right") %> Photos</h2>
  <nav class="grid-frame align-right" id="action-bar">
    <hr>
    <a href="#" tabindex="0" id="upload-photo" data-event-id="<%= @event.id %>"><%= icon("upload-solid") %> Upload Photos</a>
    <hr>
  </nav>
</section>

<section id="photos">
  <div class="grid-frame">
    <% @photos.each do |photo| %>
      <div class="photo">
        <a href="#" tabindex="0" class="delete" data-id="<%= photo.id %>"><%= icon("cancel-solid", title: "Delete Photo") %></a>
        <%= image_tag photo.src %>
      </div>
    <% end %>
  </div>
</section>
