<% content_for :facebook do %>
  <meta property="og:title" content="<%= @event.title %>" />
  <% @event.cover_photos.each do |cover_photo| %>
    <meta property="og:image" content="<%= cover_photo.attachment.url(:original) %>" />
  <% end %>
  <meta property="og:site_name" content="Queer Tango Club" />
  <meta property="og:description" content="<%= @event.description %>" />
<% end %>
<% content_for :title, "#{@event.title} | Queer Tango Club" %>

<% if current_user %>
  <nav class="grid-frame align-right">
    <hr>
    <%= link_to members_event_path(@event) do %>
      <%= icon("person") %> Sign Ups
    <% end %>
    <%= link_to photos_event_path(@event) do %>
      <%= icon("photo") %> Photos
    <% end %>
    <hr>
  </nav>
<% end %>
<section class="grid-frame banner">
  <h1><%= @event.title.html_safe %></h1>
  <%= format_date_range(@event.starts_at, @event.ends_at) %><br>
  <%= @event.location.name %>

  <% if @event.description %>
  <%= simple_format @event.description %>
  <% end %>
</section>

<%= render partial: 'schedule', locals: { event: @event } %>
<%= render partial: 'guests', locals: { guests: @event.guests } %>
<%= render partial: 'locations', locals: { locations: @event.locations } %>

<% if @event.photos %>
  <section id="photos">
  </section>
<% end %>
