<% content_for :facebook do %>
  <meta property="og:title" content="<%= @event.title %>" />
  <% @event.cover_photos.each do |cover_photo| %>
    <meta property="og:image" content="<%= cover_photo.attachment.url(:original) %>" />
  <% end %>
  <meta property="og:site_name" content="Queer Tango Club" />
  <meta property="og:description" content="<%= @event.description %>" />
<% end %>
<% content_for :title, "#{@event.title} | Queer Tango Club" %>

<br>
<% if current_user %>
  <div class="frame">
    <section>
      <h2><%= @event.title.html_safe %></h2>
      <nav>
        <hr>
        <%= link_to edit_event_path(@event) do %>
          <%= icon("edit") %> Edit
        <% end %>
        <%= link_to event_ledger_index_path(@event) do %>
          <%= icon("piggy-bank") %> Ledger
        <% end %>
        <% if @event.ticketable? %>
          <%= link_to event_members_path(@event) do %>
            <%= icon("person") %> Sign Ups
          <% end %>
        <% else %>
          <%= link_to event_attendees_path(@event) do %>
            <%= icon("person") %> Attendees
          <% end %>
        <% end %>
        <%= link_to event_photos_path(@event) do %>
          <%= icon("photo") %> Photos
        <% end %>
        <hr>
      </nav>
      <%= format_date_range(@event.starts_at, @event.ends_at) %><br>
      <% if @event.location %>
        <%= @event.location.name %>
      <% else %>
        Location to be announced
      <% end %>

      <% if @event.description %>
        <%= simple_format(@event.description, sanitize: false) %>
      <% end %>
    </section>
  </div>
<% else %>
  <section class="frame banner">
    <h1><%= @event.title.html_safe %></h1>
    <%= format_date_range(@event.starts_at, @event.ends_at) %><br>
    <% if @event.location %>
      <%= @event.location.name %>
    <% else %>
      Location to be announced
    <% end %>

    <% if @event.description %>
      <%= simple_format(@event.description, sanitize: false) %>
    <% end %>
  </section>
<% end %>

<%= render partial: 'schedule', locals: { event: @event, locations: @event.locations.uniq } %>
<% if @event.guests.length > 0 %>
  <%= render partial: 'guests', locals: { guests: @event.guests } %>
<% end %>
<% if @event.locations.length > 0 %>
  <%= render partial: 'locations', locals: { locations: @event.locations.uniq } %>
<% end %>
