<% content_for :title, "#{@event.title} | Queer Tango Club" %>
<% content_for :banner do %>
  <h1><%= @event.title %></h1>
  <%= format_date_range(@event.starts_at, @event.ends_at) %><br>
  <% if @event.location %>
    <%= format_location_name(@event.location.name) %>
  <% end %>
<% end %>

<% if @event.registerable? %>
  <%= render partial: 'guests', locals: { guests: @event.guests } %>
  <%= render partial: 'schedule', locals: { event: @event } %>
<% else %>
  <%= render partial: 'schedule', locals: { event: @event } %>
  <%= render partial: 'guests', locals: { guests: @event.guests } %>
<% end %>
<% if @event.location %>
  <%= render partial: 'location', locals: { location: @event.location } %>
<% end %>

<% if @event.photos %>
  <section id="photos">
  </section>
<% end %>
