<% content_for :title, "#{@event.title} | Queer Tango Club" %>
<br>
<section class="frame">
  <h2><%= link_to(@event.title, event_path(@event)) %> <%= icon("right-chevron") %> Photos</h2>
  <nav id="action-bar">
    <hr>
    <a href="#" tabindex="0" id="upload-photo" data-event-id="<%= @event.id %>"><%= icon("upload-solid") %> Upload Photos</a>
    <hr>
  </nav>
</section>

<section class="frame">
  <% if @photos.count > 0 %>
    <div class="row align-justify photo-uploader">
      <% @photos.each do |photo| %>
        <div class="photo">
          <a href="#" tabindex="0" class="delete" data-id="<%= photo.id %>"><%= icon("cancel-solid", title: "Delete Photo") %></a>
          <%= image_tag photo.src %>
        </div>
      <% end %>
    </div>
  <% else %>
    <br>
    <div class="smcp align-center"><%= icon('sad', class: 'empty-state') %><br>No Photos</div>
    <div class="align-center">Drag and drop photos to upload.</div>
  <% end %>
</section>
