<% event.cover_photos.each do |cover_photo| %>
<div class="event">
  <div class="cover-photo">
    <img src="<%= cover_photo_url(cover_photo) %>" alt="<%= cover_photo.title %>"/>
  </div>
  <div class="grid-frame no-padding">
    <div class="align-bottom align-right">
      <%= link_to(cover_photo.title, event_path(event), class: 'photo-link') %>
      <div>
        <h6 class="photo-overlay">
          <%= format_date_range(event.starts_at, event.ends_at) %><br>
          <% if event.location %><%= event.location.name %><% end %>
        </h6>
      </div>
      <% if event.registerable? %>
        <div>
          <%= link_to choose_event_path(event), class: 'photo-overlay button with-icon' do %>
            <%= icon("ticket") %> Sign Up
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
