<section id="guests" class="grid-frame">
  <h2><% if guests.count > 1 %>Our Guests<% else %>Our Guest<% end %></h2>
  <hr class="thick">
  <% guests.each do |guest| %>
    <div class="row guest" id="<%= guest.slug %>">
      <div class="half">
        <div class="guest-photos">
          <% guest.photos.each do |photo| %>
            <img src="<%= photo.src %>" alt="<%= guest.name %>"/>
          <% end %>
        </div>
      </div>
      <div class="half">
        <div>
          <h4>
            <% if guest.url %>
              <%= link_to guest.name, guest.url %>
            <% else %>
              <%= guest.name%>
            <% end %>
          </h4>
          <h6><%= guest.role %></h6>
          <div class="bio">
            <%= simple_format guest.bio %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
