<section id="location">
  <div class="frame">
    <h2><%= 'Location'.pluralize(locations.size) %></h2>
    <hr class="thick">
  </div>
  <% locations.each do |location| %>
    <div class="cover-photo" id="<%= location.slug %>">
      <img src="<%= location.photo.url %>" alt="<%= location.name %>" />
    </div>
    <div class="frame">
      <div class="flex-row half">
        <aside>
          <h5><%= link_to format_location_name(location.name), location.url %></h5>
          <%= location.address_line %><br>
          <% if location.extended_address %>
            <%= location.extended_address %><br>
          <% end %>
          <%= location.city %>, <%= location.region_code %> <%= location.postal_code %><br>
        </aside>
        <div>
          <a href="<%= location.directions_url %>"><%= icon("direction-solid") %> Directions</a><br>
          <% if location.nearby_locations.present? %>
            <%= link_to location_path(location) do %>
              <%= icon("location-solid") %> Nearby Caf&eacute;s
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>
