<section id="photos">
  <div class="frame">
    <h2>Photos</h2>
    <hr class="thick">
  </div>
  <div class="photo-gallery">
    <div id="prev-photo" class="cursor-pointer">
      <%= icon("left-chevron") %>
    </div>
    <ol class="overflow-x-auto">
      <% photos.each do |photo| %>
        <li class="photo" id="photo-<%= photo.id %>">
          <img src="<%= photo.src(:thumb) %>" alt="<%= photo.filename %>"/>
        </li>
      <% end %>
    </ol>
    <div id="next-photo" class="cursor-pointer">
      <%= icon("right-chevron") %>
    </div>
  </div>
</section>
