<section id="schedule" class="grid-frame">
  <div class="row align-justify">
    <h2 class="block align-bottom">Schedule</h2>
    <% if event.registerable? %>
      <%= link_to choose_event_path(event), class: 'button with-icon' do %>
        <%= icon("ticket") %> Sign Up
      <% end %>
    <% end %>
  </div>
  <hr class="thick">

  <% event.sessions_by_day.each_with_index do |sessions, idx| %>
    <h4 class="accordion" data-accordion="accordion-<%= idx %>">
      <%= sessions.first.starts_at.strftime("%B %d, %Y") %><%= icon("down") %>
    </h4>
    <hr>
    <ul class="sessions" id="accordion-<%= idx %>">
      <% sessions.each do |session| %>
        <li class="session">
          <h3><%= session.title.html_safe %></h3>
          <% if session.event.guests.count > 1 && session.guests.count > 0 %>
            <% session.guests_by_role.each do |guests| %>
              <h6>
                <%= format_list(guests) { |guest| guest.name } %>,
                <%= guests.first.role.pluralize(guests.count) %>
              </h6>
            <% end %>
          <% end %>
          <% if session.level %>
            <h6>For <%= session.level %> Dancers</h6>
          <% end %>
          <h6><%= format_time_range(session.starts_at, session.ends_at) %></h6>
          <% if session.event.locations.count > 1 && session.location %>
            <h6><a href="#<%= session.location.slug %>"><%= session.location.name %></a></h6>
          <% end %>
          <% if session.description %>
            <%= simple_format session.description %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
