<section id="schedule" class="frame">
  <header>
    <h2>Schedule</h2>
    <% if event.registerable? %>
      <%= link_to checkout_event_path(event), class: 'button with-icon' do %>
        <%= icon("ticket") %> Sign Up
      <% end %>
    <% end %>
  </header>
  <hr class="thick">

  <% event.sessions_by_day.each_with_index do |sessions, idx| %>
    <h4 class="accordion" data-accordion="accordion-<%= idx %>">
      <%= sessions.first.starts_at.strftime("%B %e, %Y") %><%= icon("down-chevron") %>
    </h4>
    <hr>
    <ul class="sessions" id="accordion-<%= idx %>">
      <% sessions.each do |session| %>
        <li class="session">
          <h3><%= session.title.html_safe %></h3>
          <% if session.event.guests.size > 1 && session.guests.size > 0 %>
            <% session.guests_by_role.each do |guests| %>
              <h6>
                <%= format_list(guests) { |guest| guest.name } %>,
                <%= guests.first.role.pluralize(guests.size) %>
              </h6>
            <% end %>
          <% end %>
          <% if session.level %>
            <h6>For <%= session.level %> Dancers</h6>
          <% end %>
          <h6><%= format_time_range(session.starts_at, session.ends_at) %></h6>
          <% if locations.size > 1 && session.location %>
            <h6><a href="#<%= session.location.slug %>"><%= session.location.name %></a></h6>
          <% end %>
          <% if session.description %>
            <%= simple_format session.description %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
