<section id="schedule" class="grid-frame">
  <div class="row align-justify">
    <h2 class="block align-bottom">Schedule</h2>
    <% if event.registerable? %>
      <%= link_to choose_event_path(event), class: 'button with-icon' do %>
        <%= icon("ticket") %> Purchase Tickets
      <% end %>
    <% end %>
  </div>
  <hr class="thick">

  <% event.sessions_by_day.each_with_index do |sessions, idx| %>
    <h4 class="accordion" data-accordion="accordion-<%= idx %>">
      <%= sessions.first.starts_at.strftime("%B %d, %Y") %><%= icon("down") %>
    </h4>
    <hr>
    <ul class="sessions" id="accordion-<%= idx %>">
      <% sessions.each do |session| %>
        <li class="session">
          <h3><%= session.title %></h3>
          <h6><%= format_time_range(session.starts_at, session.ends_at) %></h6>
          <% if session.description %>
            <%= simple_format session.description %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
