<% content_for :title, "Events | Queer Tango Club" %>

<section>
  <div class="container">
    <h2>Events</h2>
  </div>
  <% @milongas.each do |event| %>
    <div class="event">
      <% event.guests.each do |guest| %>
        <div class="poster"><img src="<%= guest.image_url %>" alt="<%= event.title %>"/></div>
      <% end %>
      <div class="container">
        <%= link_to event_path(event) do %>
          <h3 class="photo-overlay"><%= event.title %></h3>
        <% end %>
        <h4 class="photo-overlay">
          <%= format_range(event.starts_at, event.ends_at) %><br>
          <%= event.location.name %>
        </h4>
      </div>
    </div>
  <% end %>
</section>
