<% content_for :title, "Events | Queer Tango Club" %>

<section>
  <div class="container">
    <h2>Events</h2>
  </div>
  <% @milongas.each do |event| %>
    <div class="event">
      <div class="cover-photo"><img src="<%= event.cover %>" alt="<%= event.title %>"/></div>
      <div class="container">
        <div class="col end">
          <%= link_to event_path(event) do %>
            <h3 class="photo-overlay"><%= event.title %></h3>
          <% end %>
          <div>
            <h4 class="photo-overlay">
              <%= format_date_range(event.starts_at, event.ends_at) %><br>
              <% if event.location %><%= event.location.name %><% end %>
            </h4>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
