<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= yield :title %></title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Queer Tango Club - A community run tango group in NYC promoting tango within the LGBT community." />
  <meta name="keywords" content="Queer Tango Club, Queer Tango, Queer Tango NYC, Queer Tango New York, Tango, Tango Argentino, Tango New York, Tango in New York, Dancing, samesex, same sex tango, Gay Tango, Lesbian, Gay, Bisexual, Transgender" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<%= yield(:facebook) %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller.controller_name %>">
  <% if current_user %>
    <div class="admin">
      <div class="frame">
        <div class="flex-row collapse-none">
          <div>
            <%= icon("happy") %> <%= current_user.name || current_user.email %> | <%= link_to('Admin', users_path) %>
          </div>
          <%= link_to('Log Out', destroy_user_session_path) %>
        </div>
      </div>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div class="flash notice">
      <div class="frame">
        <div class="flex-row collapse-none">
          <%= icon('check-solid') %> <%= flash[:notice] %>
        </div>
      </div>
    </div>
  <% end %>
  <% if controller.controller_name == 'home' %>
    <%= yield %>
  <% else %>
    <header class="frame">
      <div class="flex-row collapse-none">
        <h1 class="logo align-left">
          <%= link_to(root_path) do %>
            <span class="q">Queer</span>
            <span class="t">Tango</span>
            <span class="c">Club</span>
          <% end %>
        </h1>
        <nav>
          <%= link_to('About', about_path) %>
          <%= link_to('Events', events_path) %>
        </nav>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <%= render partial: 'footer' %>
  <% end %>
  <%= inline_svg("icons.svg", class: 'sprite icons') %>
</body>
</html>
