<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller.controller_name %>">
  <% if controller.controller_name == 'home' %>
    <%= yield %>
  <% else %>
    <header class="container">
      <div class="row between">
        <h1 class="logo">
          <%= link_to(root_path) do %>
            <span class="q">Queer</span>
            <span class="t">Tango</span>
            <span class="c">Club</span>
          <% end %>
        </h1>
        <nav>
          <%= link_to('About', about_path) %>
          <%= link_to('Events', milongas_path) %>
          <%= link_to('Workshops', workshops_path) %>
        </nav>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <%= render partial: 'footer' %>
  <% end %>
</body>
</html>
